@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto:300,400,700&display=swap");

//colors

$primary: #f9a52b;
$blueBox: #41bdee;
$redBox: #ff0000;
$reject: #dadada;
$radioColor: #70d6ee;
